@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Uchen&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --search-button-color: #00a3b5;
    --white-color: #FFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    background: url('./components/layouts/assets/cloud.jpg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.absolute {
    background-color: var(--search-button-color);
    color: var(--white-color);
    border-color: var(--search-button-color);
}
 
.alert {
    width: 30%;
}

.info {
    color: var(--white-color);
    font-weight: 600;
    font-size: xx-large;
    margin-top: 5rem;
}

.temp {
    margin-top: 3rem;
}

.description {
    position: relative;
    top: 10rem;
    right: -15%;
    color: var(--white-color);
    font-size: large;
    font-weight: 600;
    transform-origin: 0 0;
    transform: rotate(269deg);
  }

.bottom {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: var(--white-color);
    font-weight: 600;
    width: 35%;
    margin: 12rem auto;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgba(255,255,255, 0.2);
  }
  